<ion-content>
  <div class="login">
    <ion-card>
      <ion-card-content>
        <div class="logo-header">
          <ion-img src="assets/icon/spotify-1.svg" class="logo"></ion-img>
          <ion-label>
            <h2 class="ion-text-center">Please login to spotify to start listening to music and more...</h2>
          </ion-label>
        </div>
        <div class="login-card-content">
          <ion-button type="button" fill="outline" color="primary" expand="block" (click)="login()">
            <ion-icon src="assets/icon/spotify-2.svg"></ion-icon> Login with Spotify
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
