<ion-item class="player-bg-color">
  <div class="spotify-player">
    <div class="player-item" *ngIf="player;else noPlaybackFound">
      <div class="player-image">
        <ion-thumbnail slot="start">
          <ion-img [src]="player?.item?.album?.images?.[0].url"></ion-img>
        </ion-thumbnail>
      </div>
      <div class="player-content">
        <ion-text class="title-text-truncate">{{ player?.item?.name }}</ion-text>
        <ion-text class="artist-name">{{ player?.item?.artists | artistsName }}</ion-text>
      </div>
      <div class="like-button">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div class="player-controls">
      <ion-icon name="shuffle-sharp"></ion-icon>
      <ion-icon name="arrow-back-sharp"></ion-icon>
      <ion-icon name="play-sharp"></ion-icon>
      <ion-icon name="arrow-forward-sharp"></ion-icon>
      <ion-icon name="repeat-sharp"></ion-icon>
      <ion-range>
        <ion-text slot="start">0:00</ion-text>
        <ion-text slot="end">0:00</ion-text>
      </ion-range>
    </div>
    <div class="player-settings">

      <ion-icon name="list-sharp"></ion-icon>
      <ion-icon name="desktop-sharp"></ion-icon>
      <div class="range-width">
        <ion-range [pin]="false" min="0" max="100" [value]="volume">
          <ion-icon name="volume-high-sharp" slot="start"></ion-icon>
        </ion-range>
      </div>
    </div>
  </div>
</ion-item>
<ng-template #noPlaybackFound>
  <ion-label>
    <h2>No Playback Found.</h2>
    <ion-text>Please play a track.</ion-text>
  </ion-label>
</ng-template>
