<app-toolbar-helper></app-toolbar-helper>
<ion-content>
  <ion-grid class="playlist">
    <ion-row>
      <ion-col sizeXs="4" sizeSm="4" sizeMd="2" sizeLg="2" sizeXs="2">
        <ion-img [src]="playlist?.images?.[0].url"></ion-img>
      </ion-col>
      <ion-col sizeXs="8" sizeSm="8" sizeMd="10" sizeLg="10" sizeXs="10" class="playlist-header">
        <div class="playlist-content">
          <div>
            <ion-text class="playlist-title">Playlist</ion-text>
          </div>
          <div>
            <ion-text class="playlist-name">{{ playlist?.name }}</ion-text>
          </div>
          <div class="playlist-description">
            <ion-text>{{playlist?.description}}</ion-text>
          </div>
          <div class="playlist-owner">
            <div class="">
              <ion-text class="playlist-owner-name">{{ playlist?.owner?.display_name }}</ion-text>
            </div>
            <div class="playlist-owner-total">
              <ion-text>{{ playlist?.tracks?.items?.length }} songs</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="playlist-controls">
    <div>
      <ion-button color="primary" class="play-button">
        <ion-icon name="play-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="playlist-menu" *ngIf="profile_name !== playlist?.owner?.display_name">
        <ion-icon name="heart-sharp" class="menu-icon"></ion-icon>
    </div>
    <div class="playlist-menu">
      <ion-icon name="ellipsis-horizontal-outline" class="menu-icon"></ion-icon>
    </div>
  </div>
  <div class="playlist-tracks">
    <table class="table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th class="w-title">Title</th>
          <th>Album</th>
          <th>Date Added</th>
          <th><ion-icon name="time-outline"></ion-icon></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tracks of playlist?.tracks?.items; let i=index;">
          <td>{{ i + 1}}</td>
          <td class="w-title">{{ tracks.track?.name }}</td>
          <td class="title-text-truncate">{{ tracks.track?.album?.name }}</td>
          <td>{{ tracks.added_at | date: 'MMM dd, yyyy' }}</td>
          <td>{{ tracks.track?.duration_ms | date: 'mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
