<app-toolbar-helper title="Playlist"></app-toolbar-helper>
<ion-content *ngIf="isDesktop; else mobileTemplate">
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="playlist">
      <ion-grid class="playlist">
        <ion-row>
          <ion-col sizeXs="4" sizeSm="4" sizeMd="2" sizeLg="2" sizeXs="2">
            <ion-img [src]="playlist?.images?.[0].url"></ion-img>
          </ion-col>
          <ion-col sizeXs="8" sizeSm="8" sizeMd="10" sizeLg="10" sizeXs="10" class="playlist-header">
            <div class="playlist-content">
              <div>
                <ion-text class="playlist-title">Playlist</ion-text>
              </div>
              <div>
                <ion-text class="playlist-name">{{ playlist?.name }}</ion-text>
              </div>
              <div class="playlist-description">
                <ion-text>{{playlist?.description}}</ion-text>
              </div>
              <div class="playlist-owner">
                <div>
                  <ion-avatar class="playlist-profile-image">
                    <ion-img [src]="playlist.owner | playlistProfileImage | async"></ion-img>
                  </ion-avatar>
                </div>
                <div class="">
                  <ion-text class="playlist-owner-name">{{ playlist?.owner?.display_name }}</ion-text>
                </div>
                <div class="playlist-owner-total">
                  <ion-text>{{ playlist?.tracks?.items?.length }} songs, {{ playlist?.tracks?.items | totalDuration }}
                  </ion-text>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="playlist-controls">
        <div>
          <ion-button color="primary" class="play-button">
            <ion-icon name="play-sharp"></ion-icon>
          </ion-button>
        </div>
        <div class="playlist-menu" *ngIf="profile_name !== playlist?.owner?.display_name">
          <ion-icon name="heart-sharp" class="menu-icon"></ion-icon>
        </div>
        <div class="playlist-menu">
          <ion-icon name="ellipsis-horizontal-outline" class="menu-icon"></ion-icon>
        </div>
      </div>
      <div class="playlist-tracks">
        <ion-grid>
          <ion-row class="playlist-tracks-header">
            <ion-col size="0.5">#</ion-col>
            <ion-col size="4.5">Title</ion-col>
            <ion-col size="3">Album</ion-col>
            <ion-col size="2">Date Added</ion-col>
            <ion-col size="2">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let tracks of playlist?.tracks?.items; let i=index;">
            <ion-col size="0.5">
              <ion-text class="ion-text-right">{{ i + 1 }}</ion-text>
            </ion-col>
            <ion-col size="4.5">
              <div class="playlist-tracks-name">
                <div class="playlist-tracks-image">
                  <ion-thumbnail>
                    <ion-img [src]="tracks.track?.album?.images?.[0].url"></ion-img>
                  </ion-thumbnail>
                </div>
                <div class="playlist-tracks-content">
                  <ion-text class="title-text-truncate">{{ tracks.track?.name }}</ion-text>
                  <ion-text>{{ tracks.track?.artists | artistsName }}</ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="3">
              <ion-text class="title-text-truncate">{{ tracks.track?.album?.name }}</ion-text>
            </ion-col>
            <ion-col size="2">{{ tracks.added_at | date: 'MMM dd, yyyy' }}</ion-col>
            <ion-col size="2">{{ tracks.track?.duration_ms | trackDuration }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ng-template #mobileTemplate>
  <ng-container *ngIf="playlist">
    <ion-content [appImageFade]="cover" [fullscreen]="true" [scrollEvents]="true">
      <div class="ion-text-center image-box" #cover>
        <ion-img [src]="playlist?.images | imageUrl"></ion-img>
      </div>
      <ion-row class="mobile-content">
        <ion-col size="12" class="content">
          <p class="ion-no-margin ion-no-padding content-name">{{playlist?.name}}</p>
          <p class="ion-no-margin ion-no-padding content-description">{{playlist?.description}}</p>
          <p class="ion-no-margin ion-no-padding content-image">
            <ion-avatar>
              <img [src]="playlist.owner | playlistProfileImage | async" />
            </ion-avatar>
            <ion-text>{{ playlist?.owner?.display_name }}</ion-text>
          </p>
          <span class="ion-no-margin ion-no-padding content-description">
            {{ playlist?.tracks?.items | totalDuration }}
          </span>
        </ion-col>
        <ion-col size="8" class="ion-text-left ion-no-padding">
          <ion-button fill="clear" class="ion-no-margin">
            <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="ion-no-margin">
            <ion-icon slot="icon-only" name="arrow-down-circle-outline" color="dark"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="ion-no-margin">
            <ion-icon slot="icon-only" name="ellipsis-horizontal-outline" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-right ion-no-padding">
          <ion-button fill="clear">
            <ion-icon name="play-circle" size="large" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-item *ngFor="let tracks of playlist?.tracks?.items;">
          <ion-label>
            <span class="title-text-truncate">{{tracks.track?.name}}</span>
            <p>{{tracks.track?.artists | artistsName}}</p>
          </ion-label>
          <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="dark"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-container>
</ng-template>
