.top-bar{
  display: flex;
}

.profile{
  display: flex;
  align-items: center;
  .profile-image{
    width: 1.875rem;
    height: 1.875rem;
  }
}

.track-image{
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0.938rem;
}

.profile-name{
  font-size: 0.85rem;
}

.greetings{
  font-weight: 900;
  font-size: 2.5rem;
}

.main-card {
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  ion-col {
    display: flex;
    justify-content: center;
    padding: 4px;
  }
  ion-card {
    width: 100%;
  }
}

ion-card-title{
  font-weight: 900;
  font-size: 1rem;
}

.heading > h2{
  font-weight: 900;
}
