ion-content{
  --background: linear-gradient(rgb(107, 34, 34) 10%, var(--ion-background-color) 25%);
}

.top-bar{
  display: flex;
}

.profile{
  display: flex;
  align-items: center;
  .profile-image{
    width: 1.875rem;
    height: 1.875rem;
  }
}

.profile-name{
  font-size: 0.85rem;
}

.greetings{
  font-weight: 900;
  font-size: 2.5rem;
}

.heading > h2{
  font-weight: 900;
}

.title {
  color: #fff;
  font-family: 'Spotify';
  font-size: small;
}

ion-slide {
  display: block;
  text-align: left;
}

ion-slides {
  margin-bottom: 20px;
}
