ion-split-pane {
  --side-max-width: 250px;
  --side-min-width: 100px;
}

.logo {
  width: 10rem;
  filter: brightness(0) invert(1);
  padding-block: 1.25rem;
  margin-inline: 0;
}

ion-menu-toggle:nth-of-type(4) ion-item {
  margin-top: 2rem;
}

.playlist-link {
  color: var(--ion-color-light-contrast);
}

ion-label {
  padding: 0;
  margin: 0;
}

ion-item {
  --color: var(--ion-color-dark-shade);
  --inner-padding-bottom: 0px;
  --inner-padding-top: 0px;
  --min-height: 32px;
  --background: var(--ion-color-dark-contrast) ;
  &.active {
    --background: #1e1e1e;
    --color: var(--ion-color-light-contrast);
  }
}

ion-list {
  height: 100%;
  background: var(--ion-color-dark-contrast);
}

.pages ion-label, .sub-pages ion-label{
  font-weight: 900;
}

ion-item:hover{
  --color: var(--ion-color-light-contrast);
  --background: none;
}

.playlist-active{
  color: var(--ion-color-light-contrast);
}
